@mixin shadow-lg {
  box-shadow: 0 25px 40px -15px rgba(92, 101, 107, 0.2);
}
@mixin shadow-md {
  box-shadow: 0 15px 30px -10px rgba(92, 101, 107, 0.15);
}
@mixin shadow-sm { // sm: primary
  box-shadow: 0 5px 15px -5px rgba(92, 101, 107, 0.15);
}
@mixin shadow-inline {
  box-shadow: inset 0 0 8px 0 rgba(64, 64, 64, 0.15);
}
@mixin shadow-outline {
  box-shadow: 0 0 2px 2px rgba(7, 138, 188, 0.4);
}